@{
    ViewBag.Title = "Information";
}
@section Styles{
    <style>
        body {
            background-color: #808080;
        }
    </style>
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div>
    <p style="font-size: 20px; color: aqua; margin-top: 25px; line-height: 50px">Welcome to our additional information base. <br /> This website is used for getting information about cars such as technical characteristics, number in stock, properties and also a price for it. <br /> Buy Cars on Ireland's Fastest Growing Cars Website. We currently begin working with muscle cars you see below in the picture. <br /> If you have any questions please contact our reception 087666555.</p>
    <p style="text-align:right; float:right;"><img src="~/image/muscle cars.jpg" width="700" height="400" alt="Uloading wasn't successfull'"></p>

    @*<video src="https://youtu.be/3oxZR8Ok87A">
        </video>*@

    <iframe width="400" height="400"
            src="https://www.youtube.com/embed/3oxZR8Ok87A">
    </iframe>

</div>