@{
    ViewBag.Title = "Our Garage Contact info. We are waiting for your visit!!!";    
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<body style="background-color:slategray; font-size:18px; margin-left:250px">
    <address>
        One Kilcolman Way<br />
        Claremoriss, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a style="color:chartreuse" href="mailto:Sergey@gmail.com">Sergey@gmail.com</a><br />
        <strong>Marketing:</strong> <a style="color:chartreuse" href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    <p><img src="~/image/garage.jpg" width="850" height="450" alt="Uploading wasn't successfull'"></p>

    
    <audio autoplay src="~/audio/track1.mp3" controls style="margin-top:40px">
        Browser doesn't support audio
    </audio>



</body>